.button {
    padding: 6px 22px;
    border: transparent;

    font-family: inherit;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    color: var(--title-text-color);
    cursor: pointer;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &__item {
            background-color: #F5F4FA;
    
            &:not(:last-child) {
                margin-right: 8px;
            }
        }
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}
.projects-list__item {
    margin-right: 30px;
    margin-bottom: 30px;
}
.project-list__link {
    display: block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}


.project-card {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.project-img {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    color: var(--primary-white-color);

    opacity: 0;
    transform: translateY(100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 63px 24px;

    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;

    .project-list__link:hover & {
        opacity: 1;
        transform: translateY(0);
    }
}






.project-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.project-desc {
    font-size: 16px;
    line-height: 1.9;

    color: var(--primary-text-color);
}